/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FINE CSS RESET */

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

header {
    background-color: teal;
    color: white;
    padding: 16px;
}

.card {
    /* background: url("../img/7.jpg");
    background-size: cover; */
    /* background: slategray; */
    background: url("../img/6.jpg");
    border: solid 2px darkgray;
    /* larghezza = tutto lo spazio disponibile, MA al massimo 400px */
    /* risultato, mobile = 100%, desktop = incolonnato/boxed */
    width: 100%;
    max-width: 400px;
    /* attenzione: non usare altezze se non necessario (così i contenuti non sbordano) */
    /* min-height può essere usato per gestire card con poco o nessun contenuto. facoltativo. */
    /* min-height: 135px; */
    padding: 10px;
    margin: 20px auto;
}

.card-image {
    width: 64px;
}

.card-title {
    display: inline;
}

footer {
    background: teal;
    color: white;
    padding: 16px;
}